<footer class="noprint">
    <div class="row">
        <div class="fusion-copyright-content">
            <div class="fusion-copyright-notice">
                <div>
                    Copyright 2017 - 2019 | All Rights Reserved<br>
                    Event-Fotos :: (C) Copyright :: <a href="https://von-garnier.jimdo.com/">Tobias von Garnier Photography</a><br>
                    <a href="https://digital-wachsen.de">Justso GmbH</a> |
                    <a href="https://digital-wachsen.de/imprint/">Impressum</a> |
                    <a href="https://digital-wachsen.de/datenschutz/">Datenschutz</a> |
                    <a href="mailto:mail@xcamp.co">Kontakt</a>
                </div>
            </div>
            <div class="social-networks-wrapper boxed"><a
                    class="social-network-icon icon-twitter"
                    href="https://twitter.com/xcamp" target="_blank" rel="noopener noreferrer"
                    title="Twitter"></a><a
                    class="social-network-icon icon-facebook"
                    href="https://www.facebook.com/xcamp.co/" target="_blank" rel="noopener noreferrer"
                    title="Facebook"></a>
            </div>
       </div>
    </div>
</footer>

{{> analytics}}
