<footer style="border-top: 1px solid #bbb;
               color: #888;
               font-size: 80%;
               padding-top: 1em;
               width: 100%;">
    Justso GmbH, Praunheimer Landstraße 95, 60488 Frankfurt am Main<br/>
    Geschäftsführerin: Dr. Christiane Gerigk<br/>
    Registergericht: Amtsgericht Frankfurt am Main, Registernummer: HRB 96356<br/>
    USt.-IdNr. DE288767862 | StNr. 045/236/95300

    <p class="disclaimer">
        Du erhältst diese E-Mail, weil du ein Ticket für das XCamp gebucht hast oder weil eines für dich
        gebucht wurde. Wir werden dich auch weiterhin mit Ihformationen zu dem Event oder künftigen XCamp Events
        versorgen, wenn du dem nicht widersprichst. Dazu genügt eine formlose E-Mail-Antwort auf diese E-Mail.
    </p>
</footer>
