<div class="main-menu row noprint">
    <nav class="secondary-menu alignright" aria-label="Secondary Menu">
        <a href="#" class="toggle-menu" aria-label="Toggle mobile menu">☰</a>
        <ul class="menu">
            <li class="menu-item"><a href="index">#XCamp19</a></li>
            <li class="menu-item"><a href="index#sponsor">Sponsoring</a></li>
            <li class="menu-item"><a href="index#location">Location</a></li>
            <li class="menu-item"><a href="session-list">Sessions</a></li>
            <li class="menu-item dropdown-menu">
                <a href="team" aria-haspopup="true">Über</a>
                <a href="#" class="toggle-menu" aria-label="Toggle mobile menu">v</a>
                <ul class="sub-menu menu">
                    <li class="menu-item"><a href="blog">Blog</a></li>
                    <li class="menu-item"><a href="social-wall">Social Wall</a></li>
                    <li class="menu-item"><a href="xcamp2018">XCamp 2018</a></li>
                    <li class="menu-item"><a href="xcamp2017">XCamp 2017</a></li>
                </ul>
            </li>
            <li class="menu-item login logged-out"><a id="login" href="session/undefined/%252f">Login</a></li>
            <li class="menu-item logout logged-in"><a id="logout" href="session/logout">Logout</a></li>
        </ul>
    </nav>
</div>
