<div class="info">
    <h3>Datenschutz</h3>
    <p>Wir, das {{eventName}} Orga-Team, erheben diese Daten für die Rechnungsstellung (die durch die Justso GmbH
        Frankfurt erfolgt) und die damit verbundene E-Mail-Kommunikation. Daten, die nur für
        die Abrechnung erforderlich sind, werden nach Ablauf der gesetzlichen Aufbewahrungspflichten von uns gelöscht.
    </p>
    <p>
        Den Namen und die E-Mail-Adresse der Event-Teilnehmer verwenden wir darüber hinaus, um über das
        gebuchte Event und ggf. später statt findende Events aus der selben Reihe zu informieren.
        Die Teilnehmer haben die Möglichkeit, freiwillig weitere Informationen anzugeben, die in unserem
        elektronischen Teilnehmerverzeichnis "NetVis" erscheinen und haben jederzeit die Möglichkeit, diese
        Daten selbst wieder zu entfernen.<br>
        Diese Daten werden weder für andere Zwecke verwendet noch an sonstige Dritte weiter gegeben.
    </p>
    <p>
        Bei Zahlung mittels PayPal werden die Daten außerdem an PayPal (Europe) S.a.r.l. et Cie
        S.C.A. übertragen, deren Datenschutzbestimmungen sind <a
            href="https://www.paypal.com/de/webapps/mpp/ua/privacy-full?locale.x=de_DE">hier einsehbar</a>.<br>
    </p>
</div>
