<h3>Verwendung der Mittel</h3>
<p>
    Das {{eventName}} wird ohne Gewinnerzielungsabsicht von einem Team freiwilliger Organisatoren veranstaltet.
    Der Ticketpreis finanziert die Kosten der Veranstaltung, z.B. Getränke und Verpflegung. Da wir die
    Bestellungen bei Lieferanten unseres Vertrauens frühzeitig aufgeben, kann eine Rückerstattung
    der Gebühr im Verhinderungsfall leider nicht erfolgen. Das Ticket ist übertragbar und wir
    unterstützen gern bei der Suche nach einem Ersatzteilnehmer.
</p>
