<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Danke für deine Bewerbung!</title>
    <base href="{{baseUrl}}">
    <link rel="stylesheet" href="dist/css/ticket.css">
</head>
<body>
{{> menu}}
{{> logo}}
<div id="main">
    <div class="container semi-transparent">
        <h1>Vergünstigtes Ticket für das {{eventName}}</h1>

        <div id="ticket-presale">
            <h2>Deine Bewerbung für ein vergünstigtes Ticket ist bei uns eingegangen</h2>
            <p>
                Wir melden uns bei dir, sobald klar ist, wer die vergünstigten Tickets erhält.
            </p>
        </div>
    </div>
</div>
{{> footer}}

</body>
</html>
