<option value="yellow" {{is_yellow}}>Gelb</option>
<option value="turquoise" {{is_turquoise}}>Türkis</option>
<option value="red" {{is_red}}>Rot</option>
<option value="grey" {{is_grey}}>Hellgrau</option>
<option value="tuatara" {{is_tuatara}}>Dunkel</option>
