<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Informationen über das XCamp erhalten - Fehlgeschlagen</title>
    <base href="{{baseUrl}}">
    <link rel="stylesheet" href="dist/css/ticket.css">
</head>
<body>
{{> menu}}
{{> logo}}
<div id="main">
    <div class="container semi-transparent">
        <h1>Da hat leider etwas nicht geklappt!</h1>

        <h2>Das tut uns sehr leid</h2>

        <p>
            Vielleicht helfen diese Informationen hier weiter:
        </p>

        <p class="error">
            {{message}}
        </p>
    </div>
</div>
{{> footer}}

</body>
</html>
