<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Informationen über das XCamp erhalten - Fehlgeschlagen</title>
    <base href="{{baseUrl}}">
    <link rel="stylesheet" href="dist/css/ticket.css">
</head>
<body>
{{> menu}}
{{> logo}}
<div id="main">
    <div class="container semi-transparent">
        <h1>Dieser Gutscheincode ist leider nicht gültig.</h1>

        <p>
            Vielleicht hast du nur einen Teil des Links in deinen Browser übertragen.
            Manchmal bricht auch das E-Mail-Programm Links um, was zu ungültigen Links führt.
            Oder aber, der Gutschein ist abgelaufen, er gilt in der Regel nur 4 Wochen.
        </p>

        <p>
            Falls dir das nicht weiter hilft, <a href="mailto:mail@xcamp.co">sprich uns bitte an</a>!
        </p>

    </div>
</div>
{{> footer}}

</body>
</html>
