<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>XCamp Zugang</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="{{baseUrl}}">
    <link rel="stylesheet" href="dist/css/ticket.css">
</head>
<body>
{{> menu}}
{{> logo}}
<div id="main">
    <div class="container semi-transparent">
        <h1>Wir können deine E-Mail-Adresse nicht bei uns finden!</h1>

        <p>
            Bitte sende uns eine E-Mail an <a class="mail2info" data-message="Zugang XCamp"></a>,
            wir finden gemeinsam bestimmt heraus, was da los sein kann.
        </p>

        <a href="/">Zurück zur XCamp-Website</a>
    </div>
</div>
{{> footer}}
<script src="common.js"></script>
</body>
</html>
