<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>XCamp Zugang</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="{{baseUrl}}">
    <link rel="stylesheet" href="dist/css/ticket.css">
</head>
<body>
{{> menu}}
{{> logo}}
<div id="main">
<div class="container semi-transparent">
    <form id="chgPwdForm">
        <h1>Hier kannst du dein Passwort setzen</h1>
        <label>
            Neues Passwort:
            <input type="password" name="password" id="password">
        </label>
        <button type="submit" class="button small">Ändern</button>
    </form>
</div>
</div>
{{> footer}}

<script src="common.js"></script>
<script src="password-reset-form.js"></script>
</body>
</html>
