<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>XCamp Zugang</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="{{baseUrl}}">
    <link rel="stylesheet" href="dist/css/ticket.css">
</head>
<body>
{{> menu}}
{{> logo}}
<div id="main">
    <div class="container semi-transparent">
        <h1>E-Mail versendet</h1>

        <p>Wir haben dir eine E-Mail gesendet, mit der du ein neues Passwort setzen kannst.</p>
        <p>Schau' bitte in dein E-Mail-Programm und dort ggf. auch in den Junk-E-Mail-Ordner, und klicke in der E-Mail
            den darin enthaltenen Link.
        </p>

        <a href="/">Zurück zur XCamp-Website</a>
    </div>
</div>
{{> footer}}
</body>
</html>
