<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>XCamp Newsletter - Angemeldet</title>
    <base href="{{baseUrl}}">
    <link rel="stylesheet" href="dist/css/ticket.css">
</head>
<body>
{{> menu}}
{{> logo}}
<div id="main">
    <div class="container semi-transparent">
        <h1>Wunderbar!</h1>

        <h2>Willkommen in der XCamp Community, {{person.firstName}}!</h2>

        <p>
            Du hast dein Abonnement erfolgreich bestätigt. Du erhältst ab jetzt immer alles Wissenswerte zum XCamp
            und dem bevorstehenden Event!
        </p>

        <div class="info">
            Du kannst dich zu jeder Zeit wieder von XCamp Newsletter abmelden.<br>
            Einfach in der zuletzt erhaltenen E-Mail auf “Newsletter abbestellen” klicken.
        </div>
    </div>
</div>
{{> footer}}

</body>
</html>
