<div>
    <img src="{{baseUrl}}assets/img/xcamp-large.png" style="float: left; height: 100px; margin-right: 20px;"/>
    <h1>Bewerbung für ein vergünstigtes {{eventName}} Ticket</h1>
</div>

<p>Liebe {{eventName}} Orga!</p>

<p>Es ist eine Bewerbung für ein vergünstigtes Ticket für das Event {{eventName}} eingegangen!</p>

<p style="font-size: 18px; border: 1px solid grey; padding: 20px">
    {{firstName}} {{lastName}}<br>
    {{email}}<br>
    &nbsp;<br>
    {{description}}
</p>

<p>Der {{eventName}} Ticket-Bot</p>

{{> mailFooter}}
