<div>
    <img src="{{baseUrl}}assets/img/xcamp-large.png" style="float: left; height: 100px; margin-right: 20px;"/>
    <h1>Ticketbestellung XCamp</h1>
</div>

<p>Liebe XCamp Orga!</p>

<p>Es sind neue Tickets für das XCamp gebucht worden!</p>

<p>{{ticketCount}} {{ticketType}} Ticket(s) für</p>
<p style="font-size: 18px; border: 1px solid grey; padding: 20px">
    {{customer.firm}}<br>
    {{person.firstName}} {{person.lastName}}
</p>

<p>Der XCamp Ticket-Bot</p>

{{> mailFooter}}
