<div>
    <img src="{{baseUrl}}assets/img/xcamp-large.png" style="float: left; height: 100px; margin-right: 20px;"/>
    <h1>Ticketbestellung {{eventName}}</h1>
</div>

<p>Liebe(r) {{eventName}} Teilnehmer(in)!</p>

<p>Vielen Dank! Die Ticketbestellung für das XCamp ist bei uns eingeganen.</p>

<p>Die Rechnung und die Tickets <a class="button" href="{{{url}}}">findest du in deinem {{eventName}}-Account</a>.</p>

<p>
    Bitte auf jeden Fall jeweils im Ticket den Namen und die E-Mail-Adresse des Teilnehmers eintragen. Wir brauchen
    diese Daten, um dem Teilnehmer im Vorfeld weitere Informationen z.B. zur Anreise geben zu können, aber auch, um
    die Namensschilder vorzubereiten und für die Teilnehmerliste.
</p>
<p>
    Wir würden die Teilnehmer auch auf künftige {{eventName}}s hinweisen, sie können dem jedoch jederzeit durch eine formlose
    Antwort auf unsere Mail widersprechen. In diesem Fall entfernen wir sie/ihn selbstversändlich umgehend aus unserem
    Verteiler.
</p>
<p>
    Teilnehmer/innen können jederzeit vor dem Event im {{eventName}}-Account geändert und damit das Ticket übertragen werden.
    Eine Rückgabe des Tickets ist hingegen leider nicht möglich.
</p>

<p>Wir freuen uns auf einen spannenden Tag!</p>

<p>Das {{eventName}} Team</p>

{{> mailFooter}}
