<div>
    <img src="{{baseUrl}}assets/img/xcamp-large.png" style="float: left; height: 100px; margin-right: 20px;"/>
    <h1>Bestätigung zur {{eventName}} Newsletter-Anmeldung</h1>
</div>

<p>Hallo {{firstName}}!</p>

<p>Du hast dich angemeldet, um Informationen zum <a href="{{{baseUrl}}}">{{eventName}}</a> zu erhalten!</p>

<p>Bestätige das bitte durch Klicken auf den folgenden Link:</p>
<a href="{{{link}}}">{{link}}</a>

<p>Falls das nicht funktioniert, kopiere den Link in deinen Browser.</p>

<p>
    Viele Grüße<br>
    Das {{eventName}} Orga-Team
</p>

{{> mailFooter}}
