<div>
    <img src="{{baseUrl}}assets/img/xcamp-large.png" style="float: left; height: 100px; margin-right: 20px;"/>
    <h1>Passwort für die {{eventName}} Teilnehmer-Website</h1>
</div>

<p>Hallo {{firstName}}!</p>

<p>Du hast auf {{baseUrl}} angegeben, dass du dein Passwort vergessen hast.</p>

<p>Bitte klicke hier, um dein Passwort neu zu setzen:</p>
{{link}}

<p>
    Wenn du diese E-Mail nicht angefordert hast, gib' uns bitte Bescheid, damit wir der Sache auf den Grund gehen können!
    Dein bisheriges Passwort ist auf jeden Fall weiterhin gültig. Es ist der Person, die diese Nachricht ausgelöst
    hat, nicht verraten worden. Trotzdem ist es dann ratsam, wenn du dein Passwort neu setzt.
</p>

<p>
    Viele Grüße<br>
    Das {{eventName}} Orga-Team
</p>

{{> mailFooter}}
