<div>
    <img src="{{baseUrl}}assets/img/xcamp-large.png" style="float: left; height: 100px; margin-right: 20px;"/>
    <h1>Passwort für die {{eventName}} Teilnehmer-Website</h1>
</div>

<p>Hallo {{firstName}}!</p>

<p>Du hast ein Ticket für das {{eventName}} {{baseUrl}} erhalten!</p>

<p>Aktiviere deinen Zugang hier:</p>
{{link}}

<p>Du kannst dann dein Passwort setzen.</p>

<p>
    Viele Grüße<br>
    Das {{eventName}} Orga-Team
</p>

{{> mailFooter}}
