<div>
    <img src="{{baseUrl}}assets/img/xcamp-large.png" style="float: left; height: 100px; margin-right: 20px;">
    <h1>{{eventName}} Ticket</h1>
</div>

<p>Liebe(r) {{eventName}} Teilnehmer(in)!</p>

<p><a href="{{{url}}}">Hier ist das Ticket für das {{eventName}}</a></p>

<p>Bitte diese E-Mail oder das Ticket ausgedruckt zum Event mitbringen.</p>

<p>Wir freuen uns auf einen spannenden Tag mit dir!</p>

<p>Das {{eventName}} Team</p>

{{> mailFooter}}
